#map {
    position: fixed;
    top: 0;
    right: 0;
    width: 84px;
    height: 100%;
    z-index: 100;
}

/*注意合并规则*/
#map {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}
#map:hover {
    opacity: 1;
}
